* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: snow;
    color: black;
    font-family: 'Times New Roman', Times, serif; 
}

header {
    padding: 30px 45px;
    background-color:snow;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    color: black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 10px 0;
}

header nav ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.hero {
    background-image: url("../images/test-image.jpg");
    background-size: 85%;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 35%;
    text-align: left;
    margin: 10%;
    color: white;
    font-size: 3.5vw;
    line-height: 1.2;
}
.flex-row {
    display: flex;
   
}

.section-title {
    font-size: 2.25vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 100px 10px 100px;
    margin: 0 auto;
    background-color: seagreen;
}

.bio p {
    line-height: 1.25;
    width: 80%;
    font-size: 2vw;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    background-color: rosybrown;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    width: 80%;
    margin: 0 auto;
}

.contact-links {
    padding: .5vw;
    display: flex;
    justify-content: center;
    background-color: powderblue;
    margin: 0 auto;
    width: 80%;
}

.contact-links img {
    max-width: 100%;   
}

footer {
    background: salmon;
    padding: 30px 25px 60px 25px;
}

footer h4 {
    font-size: 14px;
    font-style: italic;
    float: right;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 5px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .bio p {
        font-size: 2.5vw;
    }
    
    .contact-links {
        padding: 10px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        max-height: 100px;
        width: 60%;
   }    
    
    .contact-links img {
        max-width: 100%;
        max-height: 75%;       
    }

    footer {
        padding-top: 0px;
    }
}

@media screen and (max-width: 575px) {
    .bio p {
        font-size: 3vw;
    }

}